.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container { 
  max-width: 415px;
}

.blue-bg{
  background-color: #2435a1;
  width: 100%;
}

@media (min-width:415px) {
  .container{
    max-width: 1020px;
  }
}